{% load static %}
<html>
<head>
<title>DDoS Detection & Packet analyzer</title>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>

.rightside
{
text-align:right
}

.header{
background-color: #333;
color:white;
}

.info{
display: block;
background-color: lavender;
padding: 14px 16px;
}

#footer{
background: white;
text-align: center;
padding: 4px 6px;
text-decoration: none;
}

.copyright{
list-style-type: none;
text-align:center;
color: #999;
margin:0;
padding: 0;
}


</style>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-2">
			<div class="image">
				<img src="{% static '/sjsu3.png' %}" alt="SJSU" style="width:200px;height:150px;">
			</div>
		</div>

		<div class="col-md-8">
			<div class="header">
				<center>
					<h1>DDoS Detection and Network Packet Analyzer</h1>
				</center>
			</div>
		</div>

		<div class="col-md-10">
			<div class="rightside">
				<h4>EE 209 Network Security</h4>
			</div>
		</div>

	</div>


	<nav class="navbar navbar-inverse">
		<ul class="nav navbar-nav">
			<li class="active" ><a href="/Home">Home</a></li>
			<li><a href="/loic" >LOIC download Detection</a></li>
			<li><a href="/irc">DDoS IRC</a></li>
			<li><a href="/attack">Attack Detection</a></li>
		</ul>
	</nav>




	<div class="row">
		  <div class="col-sm-5">
			  <img src="{% static '/tower_hall.jpg' %}" alt="sjsu towerhall"/>
		  </div>
		  <div class="col-sm-7">
			  <div style="margin-left:28%;">
				  <h3>Welcome to DDoS Detection Application!</h3>
			  <p>For Testing purposes use the following .pcap files:</p>
			  <ul>
				  <li><a href="{% static '/download.pcap' %}">LOIC download</a></li>
				  <li><a href="{% static '/hivemind.pcap' %}">IRC hivemind</a></li>
				  <li><a href="{% static '/attack.pcap' %}">DDoS Attack Detection</a></li>
			  </ul>
			  </div>


		  </div>
	</div>

 	<footer id="footer">
	<ul class="copyright">
		<li>© DDoS Detection APP. All rights reserved.</li>
		<li><a href="https://www.linkedin.com/in/puneethreddy-poddutoori/">Puneeth Reddy</a></li>
	</ul>
	</footer>

</div>

</body>

</html>